@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-dark: #121212;
    --font-roboto: 'Roboto', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap");

.chau-font {
  font-family: "Chau Philomene One", sans-serif;
}
