@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-dark: #121212;
    --font-roboto: 'Roboto', sans-serif;
}