@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-dark: #121212;
  --font-roboto: "Roboto", sans-serif;
  --font-chau: "Chau Philomene One", sans-serif;
}
